<h1>Searching: <small>{{ term }}
</small></h1>

<hr>

<!-- If there are not any result finded -->
<div class="row" *ngIf="heroesArr.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            There are not any heroes finded with the term: {{ term }}
        </div>
    </div>
</div>

<div class="card-columns animated fadeIn fast">
    <!-- Declarate a *ngfor for each hero -->
    <!-- *ngFor="let hero of heroes, let i = index" -->
    <app-hero-card [hero]="hero" [idx]="i" *ngFor="let hero of heroesArr, let i = index"></app-hero-card>
</div>